p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre, p{
  word-break: normal;
  word-wrap: normal;
  padding: 8px !important;
  margin: 0 8px;
}
pre code {
  white-space: inherit;
}

table.dataTable {
  white-space: nowrap;
}

.section.level1.title {
  margin-top: 20px;
}

.title {
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: #337AB7;
}

.title *:not(h1) {
  padding: 0 3px;
}

.title h1{
  text-align: center;
  color: white; 
  background-color: #337AB7;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: #337AB7;
  padding: 5px 0 7px 0;
  border-radius: 0 10px 10px 0;
  margin: 0;
}

.level2 h2{
  color: #337AB7;
  text-align: center;
  border: solid 5px #337AB7;
  border-radius: 0 10px 10px 0;
  padding: 3px 0;
  margin-left: -8px;
  font-size: 24px;
}

.nav-tabs {
  padding: 0 3px !important;
}

.nav-tabs>li{
  margin-bottom: -4px;
}

.tab-content {
  padding: 0 3px !important;
}

.tab-pane {
  padding: 0 0 0 3px;
}

.analysisreport>.tab-content>.level3.active {
  background-color: #f7f7f7;
  padding: 1em;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
}

.analysis{
  margin: 10px;
  border: dashed 1px darkgrey;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f7f7f7;
}

.tab-content>.active .level5{
  padding: 0 0 3px 3px;
  border: none;
}

p:has(img), .section.level4:has(img), .section.level3:has(img){
  text-align: center;
}

img {
  padding: 4px 0 !important;
}

.nav-tabs>li>a:hover {
  border: solid #ddd;
  border-width: 1px 1px 0 1px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #f7f7f7;
}

.level4>h4{
  font-size: 16px;
  color: #337AB7;
  margin: 0;
  padding: 10px 0 !important;
  text-align: center;
}

.datatables {
    text-align: left !important;
}