p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre, p{
  word-break: normal;
  word-wrap: normal;
  padding: 8px !important;
  margin: 8px;
}
pre code {
  white-space: inherit;
}

table.dataTable {
  white-space: nowrap;
}

.section.level1.title {
  margin-top: 20px;
}

.title {
  border-style: solid;
  border-width: 0 0 0 5px;
  border-color: #337AB7;
}

.title *:not(h1) {
  padding: 0 3px;
}

.title h1{
  text-align: center;
  color: white; 
  background-color: #337AB7;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: #337AB7;
  padding: 5px 0 7px 0;
  border-radius: 0 10px 10px 0;
  margin: 0;
}

.nav-tabs {
  padding: 0 3px !important;
}

.nav-tabs>li{
  margin-bottom: -4px;
}

.tab-content {
  padding: 5px !important;
  background-color: #f7f7f7;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
}
.level5> .tab-content{
  border: none !important;
}

.tab-pane {
  padding: 0 0 0 3px;
}

.tab-content.level4>.active {
  background-color: #f7f7f7;
  padding: 0 0 3px 3px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #f7f7f7;
}

.tab-content>.active .level5{
  padding: 0 0 3px 3px;
}

p:has(img){
  text-align: center;
}

.analysis img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav-tabs>li>a:hover {
  border: solid #ddd;
  border-width: 1px 1px 0 1px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background-color: #f7f7f7;
}

.analysis {
  margin: 10px 5px;
  border: 2px dashed #ccc;
  padding: 2px;
}

.analysis h1, .analysis h2, .analysis h3, .analysis h4, .analysis h5, .analysis h6 {
  color: #337AB7;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

h2{
  color: #337AB7;
  text-align: center;
  border: solid 5px #337AB7;
  border-radius: 0 10px 10px 0;
  padding: 5px 0 !important;
  margin-left: -8px;
  font-size: 24px;
  background-color: #f7f7f7;
}

h3 {
  text-align: center;
  color: #337AB7;
}